<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BattleNotifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BattleNotifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <BattleNotifier.Properties.Settings>
      <setting name="ShowBattleDialog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowMapDialog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PlayNotificationSound" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DialogLifeSeconds" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="SoundPath" serializeAs="String">
        <value />
      </setting>
      <setting name="NotificationDuration" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CloseDialogTime" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BattleTypes" serializeAs="String">
        <value>1All battle types
0Normal
0One-life
0First finish
0Slowness
0Survivor
0Last counts
0Finish-count
01 hour tt
0Flag tag
0Apple
0Speed</value>
      </setting>
      <setting name="Designers" serializeAs="String">
        <value>1All designers</value>
      </setting>
      <setting name="BlackList" serializeAs="String">
        <value />
      </setting>
      <setting name="AutocompleteKuskis" serializeAs="String">
        <value>-Nico-o
-Tony-
5tr1k3r
8-ball
Abula
adi
AKB
Ali
Alma
alvin
ANATOLIY
anpdad
Apelgam
Are
astral-r
axxu
badyl
barryp
BarTek
Bbl Bce CyKu
bEAT
BENNY
Bismuth
Bjenn
Bludek
BoneLESS
Boomer
Cap
Cfilorvy
Chaza
Chip
Coco
CSabi
DaFred
Dariuz
Dash
DCEM
Dead One
Death
Ded
Domi
DRACON
Drakula
DreamHunter
Dynamo
dz
Ecchi
Eddi
Elfy
ElrondMcBong
epp
error
ExTeC
fabio
Fanatico
Fecal
finman
Fredrik
Giancarlo
gimp
GraduS
Grindelwald
GRob
Haruhi
hehe
Honza
Hosp
Ice
igge
inf3rno
infected
Inferno
Ismo
Ithal
J-sim
Jalli
Jamppa
Jappe2
Jarkko
jaytea
jblaze
Jeppe
John
Johnny
jonsta
jonsykkel
JSmith
Juish
juka
Juzam
k0en
k00
kabii
Kazan
kd
Kejebra
kestas
Kiiwi
Kingy
Koopa
Kopaka
Kostyak
Kowal
kuchitsu
Kuper
Kuri
Labs
LazY
Leek
Lousku
Lukazz
Lumen
Luther
Maala
MadMad
Madness
Magb
magicman
Marian
Markku
Mats
Mawane
Max
Maximus
mcleod
Memphis
MicroGen
Mielz
Mika
mikl
milagros
MJXII
Mochi
Morgan
Moszat
MP
Mpq
mr
Mrrrr
Munkki
NaDiRu
Nekit
nick-o-matic
NightMar
niN
nobody
noni
nozkey
ofta
Old_Bjorn
onla
Orcc
p-skript
Pab
Pascal
Pawq
Peacemaker
Pek
PELUSON27
Phillip
PJ
Player
Player1
Polarix
proDigy
Punxer
Quantz
Raane
Ramone
Ramzi
Rasken
Rast
Raven
ribot
robbla
romy4
Rooker
roope
Ropelli
Salsa
SCASI
schiz
schnon
Schumi
semyr
SIC
Sick_Mambo
Sienna
skint0r
sla
Smibu
snajdig
SORIN283
Souza
Staar
stefankivb
Stini
Suharice
SveinR
talli
tamugol1
TarGEnoR
tatujka
teajay
terb0
ThanaTos
The OooO
Thunder
Tigro
Tisk
TL
Tm
totem
trew
TTechnik
TuA
tubby
Ulaanaa
umiz
Uncle Milty
undi
VALDO
veezay
Ves
ville_j
Virus
VT
Wacco
wazsi
Weep
wjelo
Xhomaz
Xiphias
xonii
YEAHS
yohanu
Yoni
yoosef
yOwie
yuno uno
zebra
zelterboij
Zero
Zerox
Zid
Zox
Zweq
zwor</value>
      </setting>
      <setting name="MapSize" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="NotifyOnStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HideToTraybar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseFadeEffect" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowOnTop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TransparentStyle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HidePrintMap" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultSound" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UseCustomSound" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OnMapLevel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnMapDesigner" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnMapType" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnMapTimer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnMapAttributes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnMapColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="DisplayScreen" serializeAs="String">
        <value>0</value>
      </setting>
    </BattleNotifier.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <BattleNotifier.Properties.Settings>
      <setting name="EOLUrl" serializeAs="String">
        <value>http://elmaonline.net/</value>
      </setting>
      <setting name="EOLBattlesUrl" serializeAs="String">
        <value>http://elmaonline.net/battles/</value>
      </setting>
      <setting name="EOLMapsUrl" serializeAs="String">
        <value>http://elmaonline.net/images/map/</value>
      </setting>
      <setting name="EOLLevelUrl" serializeAs="String">
        <value>http://elmaonline.net/downloads/lev/</value>
      </setting>
      <setting name="CurrentBattleApiUrl" serializeAs="String">
        <value>http://elma.seamy.ru:8880/current_battle/</value>
      </setting>
      <setting name="NeedsUpdate" serializeAs="String">
        <value>False</value>
      </setting>
    </BattleNotifier.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>